In [1]:
import pandas as pd

In [3]:
df = pd.read_json('https://data.sfgov.org/resource/kikm-y2iv.json')

In [4]:
df.head()

,address,als_unit,available_dttm,battalion,box,call_date,call_final_disposition,call_number,call_type_group,city,...,response_dttm,rowid,station_area,supervisor_district,transport_dttm,unit_id,unit_sequence_in_call_dispatch,unit_type,watch_date,zipcode_of_incident
0,22ND ST/CAPP ST,True,2016-07-11T00:58:30,B06,5472,2016-07-10T00:00:00,Code 2 Transport,161923658,Potentially Life-Threatening,San Francisco,...,2016-07-11T00:00:10,161923658-79,7,9,2016-07-11T00:12:05,79,1,MEDIC,2016-07-10T00:00:00,94110
1,22ND ST/CAPP ST,True,2016-07-11T00:19:41,B06,5472,2016-07-10T00:00:00,Code 2 Transport,161923658,Potentially Life-Threatening,San Francisco,...,2016-07-11T00:01:08,161923658-E07,7,9,2016-07-11T00:13:40,E07,2,ENGINE,2016-07-10T00:00:00,94110
2,1000 Block of LE CONTE AVE,True,2016-07-11T00:32:42,B10,6575,2016-07-10T00:00:00,Unable to Locate,161930007,Potentially Life-Threatening,San Francisco,...,2016-07-11T00:03:19,161930007-57,44,10,NaN,57,1,MEDIC,2016-07-10T00:00:00,94124
3,1600 Block of PALOU AVE,True,2016-07-11T01:04:00,B10,6471,2016-07-10T00:00:00,Against Medical Advice,161923655,Potentially Life-Threatening,San Francisco,...,2016-07-10T23:59:57,161923655-71,17,10,NaN,71,2,MEDIC,2016-07-10T00:00:00,94124
4,1600 Block of PALOU AVE,True,2016-07-11T00:14:39,B10,6471,2016-07-10T00:00:00,Against Medical Advice,161923655,Potentially Life-Threatening,San Francisco,...,2016-07-11T00:00:49,161923655-E17,17,10,NaN,E17,1,ENGINE,2016-07-10T00:00:00,94124

In [5]:
df.describe()

,als_unit,box,call_number,final_priority,incident_number,number_of_alarms,station_area,unit_sequence_in_call_dispatch,zipcode_of_incident
count,1000,1000.000000,1.000000e+03,1000.00000,1000.000000,1000,1000.000000,1000.00000,999.000000
mean,0.657,3892.534000,1.619200e+08,2.69300,16075829.122000,1,18.717000,2.00800,94113.282282
std,0.474949,2330.668019,3.677042e+03,0.46148,142.559666,0,14.774342,1.68902,10.389335
min,False,231.000000,1.619126e+08,2.00000,16075594.000000,1,1.000000,1.00000,94102.000000
25%,0,1563.750000,1.619202e+08,2.00000,16075700.000000,1,5.000000,1.00000,94103.000000
50%,1,3332.500000,1.619212e+08,3.00000,16075827.500000,1,16.000000,2.00000,94110.000000
75%,1,5614.000000,1.619224e+08,3.00000,16075948.250000,1,33.000000,2.00000,94121.000000
max,True,9271.000000,1.619300e+08,3.00000,16076088.000000,1,51.000000,13.00000,94158.000000