# Exploratory Data Analysis (EDA) Round 2

The purpose of this notebook is to do another pass at the fire risk data and see 
if we can't examine the entire thing easily, get a sense of how far back our dataset goes.
To do this, we are going to use the offset function in the query (now that we know how to use it properly)

In [2]:
from __future__ import division, print_function # always future proof for python3
import pandas as pd

In [3]:
# for simplicity we'll store the url in a string that we'll then insert a new offset into each round
query_url = 'https://data.sfgov.org/resource/wbb6-uh78.json?$order=close_dttm%20DESC&$offset={}&$limit=1000'

In [5]:
df = pd.read_json(query_url.format('0'))

In [7]:
# I'm curious, how many pages of data do we have in this dataset, how many records?
# we could have done this programmatically by just continuing to go through the records
# and at a certain point we will need to do that, but for now
# we cheated and looked at the url https://data.sfgov.org/Public-Safety/Fire-Incidents/wr8u-xric
# and it shows we have 403,988 rows of data, so 403 pages that we'd need to page through if we wanted to create one
# big database.
# Certainly something we will do but for now let's grab the very last page and see what we've got
df = pd.read_json(query_url.format('403000'))

In [8]:
df.head()

,action_taken_other,action_taken_primary,action_taken_secondary,address,alarm_dttm,area_of_fire_origin,arrival_dttm,automatic_extinguishing_system_present,automatic_extinguishing_sytem_failure_reason,automatic_extinguishing_sytem_perfomance,...,other_units,primary_situation,property_use,station_area,structure_status,structure_type,supervisor_district,suppression_personnel,suppression_units,zipcode
0,-,86 - investigate,-,951 Eddy St.,2003-01-11T02:57:40.000,NaN,2003-01-11T03:01:06.000,NaN,NaN,NaN,...,0,733 - smoke detector activation/malfunction,429 - multifamily dwellings,05,NaN,NaN,5,11,3,94102
1,-,86 - investigate,-,30th St. / Dolores St.,2003-01-11T02:20:29.000,NaN,2003-01-11T02:25:32.000,NaN,NaN,NaN,...,0,"311 - medical assist, assist ems crew","960 - street, other",11,NaN,NaN,8,4,1,94110
2,-,86 - investigate,-,Market St. / Steuart St.,2003-01-11T02:08:45.000,NaN,2003-01-11T02:15:11.000,NaN,NaN,NaN,...,0,"711 - municipal alarm system, street box false","960 - street, other",13,NaN,NaN,3,4,1,94105
3,-,86 - investigate,-,10th St. / Market St.,2003-01-11T01:12:53.000,NaN,2003-01-11T01:15:22.000,NaN,NaN,NaN,...,0,"710 - malicious, mischievous false call, other",963 - street or road in commercial area,36,NaN,NaN,6,9,2,94103
4,-,11 - extinguish,-,373 Ellis St.,2003-01-10T23:33:30.000,NaN,2003-01-10T23:36:17.000,NaN,NaN,NaN,...,0,"100 - fire, other",429 - multifamily dwellings,03,NaN,NaN,6,34,10,94102

In [9]:
# let's take a look at what cleanup work we need to do. 
# Generally a field that is just labeled as an "object" is something we wish to clean up
# This code will eventually find its way into a pipeline and moved to src
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 988 entries, 0 to 987
Data columns (total 62 columns):
action_taken_other                              988 non-null object
action_taken_primary                            988 non-null object
action_taken_secondary                          988 non-null object
address                                         988 non-null object
alarm_dttm                                      988 non-null object
area_of_fire_origin                             60 non-null object
arrival_dttm                                    988 non-null object
automatic_extinguishing_system_present          36 non-null object
automatic_extinguishing_sytem_failure_reason    36 non-null object
automatic_extinguishing_sytem_perfomance        36 non-null object
automatic_extinguishing_sytem_type              36 non-null object
battalion                                       988 non-null object
box                                             20 non-null float64
call_number                                     988 non-null int64
city                                            988 non-null object
civilian_fatalities                             988 non-null int64
civilian_injuries                               988 non-null int64
close_dttm                                      988 non-null object
detector_alerted_occupants                      988 non-null object
detector_effectiveness                          36 non-null object
detector_failure_reason                         36 non-null object
detector_operation                              36 non-null object
detector_type                                   36 non-null object
detectors_present                               36 non-null object
ems_personnel                                   988 non-null int64
ems_units                                       988 non-null int64
estimated_contents_loss                         988 non-null int64
estimated_property_loss                         988 non-null int64
exposure_number                                 988 non-null int64
fire_fatalities                                 988 non-null int64
fire_injuries                                   988 non-null int64
fire_spread                                     36 non-null object
first_unit_on_scene                             867 non-null object
floor_of_fire_origin                            16 non-null float64
heat_source                                     60 non-null object
human_factors_associated_with_ignition          60 non-null object
ignition_cause                                  60 non-null object
ignition_factor_primary                         60 non-null object
ignition_factor_secondary                       60 non-null object
incident_date                                   988 non-null object
incident_number                                 988 non-null int64
item_first_ignited                              60 non-null object
location                                        775 non-null object
mutual_aid                                      988 non-null object
neighborhood_district                           774 non-null object
no_flame_spead                                  13 non-null float64
number_of_floors_with_extreme_damage            16 non-null float64
number_of_floors_with_heavy_damage              16 non-null float64
number_of_floors_with_minimum_damage            16 non-null float64
number_of_floors_with_significant_damage        16 non-null float64
number_of_sprinkler_heads_operating             16 non-null float64
other_personnel                                 988 non-null int64
other_units                                     988 non-null int64
primary_situation                               988 non-null object
property_use                                    988 non-null object
station_area                                    988 non-null object
structure_status                                36 non-null object
structure_type                                  36 non-null object
supervisor_district                             774 non-null float64
suppression_personnel                           988 non-null int64
suppression_units                               988 non-null int64
zipcode                                         774 non-null float64
dtypes: float64(10), int64(15), object(37)
memory usage: 486.3+ KB

In [13]:
# As you can see above in the second-to-last row, there are 10 float objects, 15 int objects, and 37 unspecified objects.
# We will want to fix that.
# first, what are the date values and all?

# df.describe(include='all')
# Uh-oh! The describe() function above failed with a type error,
# stating that there's an unhashable type of `dict` in our data. We'll need to find that and fix it
# before we can do a proper analysis

# let's look at a single record
df.iloc[0]

action_taken_other                                                                              -
action_taken_primary                                                             86 - investigate
action_taken_secondary                                                                          -
address                                                                              951 Eddy St.
alarm_dttm                                                                2003-01-11T02:57:40.000
area_of_fire_origin                                                                           NaN
arrival_dttm                                                              2003-01-11T03:01:06.000
automatic_extinguishing_system_present                                                        NaN
automatic_extinguishing_sytem_failure_reason                                                  NaN
automatic_extinguishing_sytem_perfomance                                                      NaN
automatic_extinguishing_sytem_type                                                            NaN
battalion                                                                                     B02
box                                                                                           NaN
call_number                                                                              30110032
city                                                                                           SF
civilian_fatalities                                                                             0
civilian_injuries                                                                               0
close_dttm                                                                2003-01-11T03:08:24.000
detector_alerted_occupants                                                                      -
detector_effectiveness                                                                        NaN
detector_failure_reason                                                                       NaN
detector_operation                                                                            NaN
detector_type                                                                                 NaN
detectors_present                                                                             NaN
ems_personnel                                                                                   0
ems_units                                                                                       0
estimated_contents_loss                                                                         0
estimated_property_loss                                                                         0
exposure_number                                                                                 0
fire_fatalities                                                                                 0
                                                                      ...
first_unit_on_scene                                                                           T05
floor_of_fire_origin                                                                          NaN
heat_source                                                                                   NaN
human_factors_associated_with_ignition                                                        NaN
ignition_cause                                                                                NaN
ignition_factor_primary                                                                       NaN
ignition_factor_secondary                                                                     NaN
incident_date                                                             2003-01-11T00:00:00.000
incident_number                                                                           3003103
item_first_ignited                                                                            NaN
location                                        {u'type': u'Point', u'coordinates': [-122.4232...
mutual_aid                                                                                   none
neighborhood_district                                                            Western Addition
no_flame_spead                                                                                NaN
number_of_floors_with_extreme_damage                                                          NaN
number_of_floors_with_heavy_damage                                                            NaN
number_of_floors_with_minimum_damage                                                          NaN
number_of_floors_with_significant_damage                                                      NaN
number_of_sprinkler_heads_operating                                                           NaN
other_personnel                                                                                 0
other_units                                                                                     0
primary_situation                                     733 - smoke detector activation/malfunction
property_use                                                          429 - multifamily dwellings
station_area                                                                                   05
structure_status                                                                              NaN
structure_type                                                                                NaN
supervisor_district                                                                             5
suppression_personnel                                                                          11
suppression_units                                                                               3
zipcode                                                                                     94102
Name: 0, dtype: object

In [14]:
# even though there are so many columns that some are hidden, we can see above that location is a dict field.
# so we should either consider removing it, or doing an eval to get it into the database
df.iloc[0]['location']

{u'coordinates': [-122.42329, 37.78251], u'type': u'Point'}

In [16]:
# pretty simple, it's just a location type and then lat long. I'm not sure we need the type "Point" but let's store it for now
# just to see what we get
# doing a simple check on http://www.latlong.net/
# confirmed the general lat long for SF is 37.774929, -122.419416 respectively,
# so the data is most likely flipped, where longitude is first, and latitude the second value.
# let's use ast/eval to convert the location into separate columns

# we first should confirm that we are dealing with strings or dicts
type(df.iloc[0]['location'])

dict

In [17]:
#import ast  # TODO: move this to the very top with the other imports
temp_df = df.join(pd.DataFrame(df["location"].to_dict()).T)
# we'll do the slow approach to this for now, just as an example, but later consider a faster solution
#for index, row in df.iterrows():
temp_df.head()

,action_taken_other,action_taken_primary,action_taken_secondary,address,alarm_dttm,area_of_fire_origin,arrival_dttm,automatic_extinguishing_system_present,automatic_extinguishing_sytem_failure_reason,automatic_extinguishing_sytem_perfomance,...,property_use,station_area,structure_status,structure_type,supervisor_district,suppression_personnel,suppression_units,zipcode,coordinates,type
0,-,86 - investigate,-,951 Eddy St.,2003-01-11T02:57:40.000,NaN,2003-01-11T03:01:06.000,NaN,NaN,NaN,...,429 - multifamily dwellings,05,NaN,NaN,5,11,3,94102,"[-122.42329, 37.78251]",Point
1,-,86 - investigate,-,30th St. / Dolores St.,2003-01-11T02:20:29.000,NaN,2003-01-11T02:25:32.000,NaN,NaN,NaN,...,"960 - street, other",11,NaN,NaN,8,4,1,94110,"[-122.424233, 37.742237]",Point
2,-,86 - investigate,-,Market St. / Steuart St.,2003-01-11T02:08:45.000,NaN,2003-01-11T02:15:11.000,NaN,NaN,NaN,...,"960 - street, other",13,NaN,NaN,3,4,1,94105,"[-122.394751, 37.79448]",Point
3,-,86 - investigate,-,10th St. / Market St.,2003-01-11T01:12:53.000,NaN,2003-01-11T01:15:22.000,NaN,NaN,NaN,...,963 - street or road in commercial area,36,NaN,NaN,6,9,2,94103,"[-122.417505, 37.77654]",Point
4,-,11 - extinguish,-,373 Ellis St.,2003-01-10T23:33:30.000,NaN,2003-01-10T23:36:17.000,NaN,NaN,NaN,...,429 - multifamily dwellings,03,NaN,NaN,6,34,10,94102,"[-122.412295, 37.784858]",Point

In [20]:
temp_df.iloc[0]['coordinates']

[-122.42329, 37.78251]

In [21]:
# let's quickly check if the `type` is necessary, or if it only contains point and we should just delete it
temp_df.type.value_counts(dropna=False)

Point    775
NaN      213
Name: type, dtype: int64

In [23]:
# let's check if the null values are important? 
temp_df[temp_df.type.isnull()].tail()

,action_taken_other,action_taken_primary,action_taken_secondary,address,alarm_dttm,area_of_fire_origin,arrival_dttm,automatic_extinguishing_system_present,automatic_extinguishing_sytem_failure_reason,automatic_extinguishing_sytem_perfomance,...,property_use,station_area,structure_status,structure_type,supervisor_district,suppression_personnel,suppression_units,zipcode,coordinates,type
942,-,"22 - rescue, remove from harm",-,573 26th Av.,2003-01-01T03:36:46.000,NaN,2003-01-01T03:40:54.000,NaN,NaN,NaN,...,"000 - property use, other",14,NaN,NaN,NaN,4,1,NaN,NaN,NaN
949,-,86 - investigate,-,Buchanan St. / Moulton St.,2003-01-01T03:10:40.000,"80 - vehicle area, other",2003-01-01T03:12:12.000,NaN,NaN,NaN,...,"962 - residential street, road or residential dr",16,NaN,NaN,NaN,4,1,NaN,NaN,NaN
958,-,33 - provide advanced life support (als),-,Coleridge St. / Eugenia Av.,2003-01-01T01:30:02.000,NaN,2003-01-01T01:37:10.000,NaN,NaN,NaN,...,"962 - residential street, road or residential dr",32,NaN,NaN,NaN,6,2,NaN,NaN,NaN
971,-,"10 - fire, other",-,2 Parker Av.,2003-01-01T00:43:53.000,-,2003-01-01T00:47:00.000,-,-,-,...,"960 - street, other",10,-,-,NaN,4,1,NaN,NaN,NaN
985,-,86 - investigate,-,33rd Av. / Noriega St.,2003-01-01T00:18:19.000,-,2003-01-01T00:21:15.000,-,-,-,...,"962 - residential street, road or residential dr",18,-,-,NaN,4,1,NaN,NaN,NaN

In [24]:
# Can we assume that if type is null, so is coordinates, in which case location may also be null?
temp_df[temp_df.type.isnull()].coordinates.value_counts(dropna=False)

NaN    213
Name: coordinates, dtype: int64

In [28]:
# OK, so the above info shows we can drop type, and we can also drop location
# we'll also overwrite the original column and delete the temp_df
df = temp_df.drop(['type','location'],axis=1)

In [29]:
del temp_df

In [30]:
# TODO: when we circle back and do our next notebook and import, we should consider using int32, float32 to save memory
# TODO: use a publicly available database to fill in zipcode and lat lon with a geo lookup

In [37]:
# now that we've taken a look, remember that this is an OLD database, so it may have been overzealous to delete columns
# or decide that type wasn't useful.
# let's quickly do a check for the most recent 3,000 columns and see what data we get there.
temp_df = pd.read_json(query_url.format('0'))

In [38]:
temp_df = temp_df.join(pd.DataFrame(temp_df["location"].to_dict()).T)

In [39]:
temp_df.iloc[-1]

action_taken_other                                                                        NaN
action_taken_primary                                                           86 investigate
action_taken_secondary                                                                    NaN
address                                                                  7th St/folsom Street
alarm_dttm                                                            2016-06-24T16:21:32.000
area_of_fire_origin                                                                       NaN
arrival_dttm                                                          2016-06-24T16:27:13.000
automatic_extinguishing_system_present                                                    NaN
automatic_extinguishing_sytem_perfomance                                                  NaN
automatic_extinguishing_sytem_type                                                        NaN
battalion                                                                                 B03
box                                                                                      2314
call_number                                                                         161762630
city                                                                            San Francisco
civilian_fatalities                                                                         0
civilian_injuries                                                                           0
close_dttm                                                            2016-06-24T16:28:44.000
detector_alerted_occupants                                                                NaN
detector_effectiveness                                                                    NaN
detector_operation                                                                        NaN
detector_type                                                                             NaN
detectors_present                                                                         NaN
ems_personnel                                                                               0
ems_units                                                                                   0
estimated_contents_loss                                                                   NaN
estimated_property_loss                                                                   NaN
exposure_number                                                                             0
fire_fatalities                                                                             0
fire_injuries                                                                               0
floor_of_fire_origin                                                                      NaN
heat_source                                                                               NaN
human_factors_associated_with_ignition                                                    NaN
ignition_cause                                                                            NaN
ignition_factor_primary                                                                   NaN
incident_date                                                         2016-06-24T00:00:00.000
incident_number                                                                      16069482
item_first_ignited                                                                        NaN
location                                    {u'type': u'Point', u'coordinates': [-122.4078...
mutual_aid                                                                             n none
neighborhood_district                                                         South of Market
no_flame_spead                                                                             na
number_of_sprinkler_heads_operating                                                       NaN
other_personnel                                                                             0
other_units                                                                                 0
primary_situation                                        700 false alarm or false call, other
property_use                                962 residential street, road or residential dr...
station_area                                                                                1
structure_status                                                                          NaN
structure_type                                                                            NaN
supervisor_district                                                                         6
suppression_personnel                                                                       9
suppression_units                                                                           2
zipcode                                                                                 94103
coordinates                                                          [-122.407844, 37.776746]
type                                                                                    Point
Name: 999, dtype: object

In [40]:
temp_df.type.value_counts(dropna=False)

Point    999
NaN        1
Name: type, dtype: int64

In [41]:
# it appears that the coordinates always seem to represent a point, or is null. 
# so for now let's drop it
# one of the challenges with this dataset is that there are a LOT of columns
# we should determine which ones to trim down.
# since we now have the first 1,000 rows of data in `df` and the most recent records in `temp_df` let's concat the two into a single dataframe
temp_df = temp_df.drop(['type','location'],axis=1)

In [42]:
df = pd.concat([temp_df, df])

In [43]:
df.head()

,action_taken_other,action_taken_primary,action_taken_secondary,address,alarm_dttm,area_of_fire_origin,arrival_dttm,automatic_extinguishing_system_present,automatic_extinguishing_sytem_failure_reason,automatic_extinguishing_sytem_perfomance,...,other_units,primary_situation,property_use,station_area,structure_status,structure_type,supervisor_district,suppression_personnel,suppression_units,zipcode
0,NaN,86 investigate,NaN,105 Aptos Avenue,2016-07-10T21:50:58.000,NaN,2016-07-10T21:54:42.000,NaN,NaN,NaN,...,0,733 smoke detector activation due to malfunction,215 high school/junior high school/middle school,15,NaN,NaN,7,11,3,94127
1,NaN,86 investigate,NaN,8th St/bryant Street,2016-07-10T19:49:15.000,NaN,2016-07-10T19:52:06.000,NaN,NaN,NaN,...,0,"711 municipal alarm system, malicious false alarm",nnn none,29,NaN,NaN,6,9,2,94103
2,NaN,61 restore municipal services,NaN,2nd St/brannan Street,2016-07-10T19:44:29.000,NaN,2016-07-10T19:47:35.000,NaN,NaN,NaN,...,0,"711 municipal alarm system, malicious false alarm","960 street, other",8,NaN,NaN,6,9,2,94107
3,NaN,86 investigate,NaN,8400 Oceanview Trail,2016-07-10T19:24:41.000,NaN,2016-07-10T19:28:56.000,NaN,NaN,NaN,...,0,733 smoke detector activation due to malfunction,429 multifamily dwelling,33,NaN,NaN,7,11,3,94132
4,NaN,86 investigate,NaN,636 Velasco Av A,2016-07-10T18:56:31.000,NaN,2016-07-10T19:00:13.000,NaN,NaN,NaN,...,1,531 smoke or odor removal,419 1 or 2 family dwelling,43,NaN,NaN,10,29,8,94134

In [54]:
# NOW let's try describe()
# we now have a problem because we have a list, which we created when we made coordinates
# let's fix that
# remember, first value is the longitude, and the second value is latitude
# don't do this for null values
mask = df.coordinates.notnull()
df.loc[mask, 'long'] = df[mask]['coordinates'].apply(lambda x: x[0])

In [55]:
df.loc[mask, 'lat'] = df[mask]['coordinates'].apply(lambda x: x[1])

In [56]:
df.iloc[-1]

action_taken_other                                                                             -
action_taken_primary                                                            86 - investigate
action_taken_secondary                                                                         -
address                                                                Broadway St. / Taylor St.
alarm_dttm                                                               2003-01-01T00:02:13.000
area_of_fire_origin                                                                            -
arrival_dttm                                                             2003-01-01T00:06:13.000
automatic_extinguishing_system_present                                                         -
automatic_extinguishing_sytem_failure_reason                                                   -
automatic_extinguishing_sytem_perfomance                                                       -
automatic_extinguishing_sytem_type                                                             -
battalion                                                                                    B01
box                                                                                         1442
call_number                                                                             30010002
city                                                                                          SF
civilian_fatalities                                                                            0
civilian_injuries                                                                              0
close_dttm                                                               2003-01-01T00:06:37.000
coordinates                                                             [-122.413562, 37.797038]
detector_alerted_occupants                                                                     -
detector_effectiveness                                                                         -
detector_failure_reason                                                                        -
detector_operation                                                                             -
detector_type                                                                                  -
detectors_present                                                                              -
ems_personnel                                                                                  0
ems_units                                                                                      0
estimated_contents_loss                                                                        0
estimated_property_loss                                                                        0
exposure_number                                                                                0
                                                                      ...
floor_of_fire_origin                                                                         NaN
heat_source                                                                                    -
human_factors_associated_with_ignition                                                         -
ignition_cause                                                                                 -
ignition_factor_primary                                                                        -
ignition_factor_secondary                                                                      -
incident_date                                                            2003-01-01T00:00:00.000
incident_number                                                                          3000003
item_first_ignited                                                                             -
mutual_aid                                                                                  none
neighborhood_district                                                                   Nob Hill
no_flame_spead                                                                               NaN
number_of_floors_with_extreme_damage                                                         NaN
number_of_floors_with_heavy_damage                                                           NaN
number_of_floors_with_minimum_damage                                                         NaN
number_of_floors_with_significant_damage                                                     NaN
number_of_sprinkler_heads_operating                                                          NaN
other_personnel                                                                                0
other_units                                                                                    0
primary_situation                                 711 - municipal alarm system, street box false
property_use                                    962 - residential street, road or residential dr
station_area                                                                                  02
structure_status                                                                               -
structure_type                                                                                 -
supervisor_district                                                                            3
suppression_personnel                                                                          4
suppression_units                                                                              1
zipcode                                                                                    94133
long                                                                                    -122.414
lat                                                                                       37.797
Name: 987, dtype: object

In [57]:
# now we can delete the coordinates column
df = df.drop(['coordinates'],axis=1)

In [59]:
# again, let's try to describe the data
df.describe(include='all')

,action_taken_other,action_taken_primary,action_taken_secondary,address,alarm_dttm,area_of_fire_origin,arrival_dttm,automatic_extinguishing_system_present,automatic_extinguishing_sytem_failure_reason,automatic_extinguishing_sytem_perfomance,...,property_use,station_area,structure_status,structure_type,supervisor_district,suppression_personnel,suppression_units,zipcode,long,lat
count,996,1988,1095,1985,1988,108,1988,50,36,41,...,1985,1988,50,53,1760.000000,1988.000000,1988.000000,1760.000000,1774.000000,1774.000000
unique,7,75,24,1689,1988,36,1986,6,1,4,...,131,87,5,7,NaN,NaN,NaN,NaN,NaN,NaN
top,-,86 - investigate,-,1 Sf Intl Airport,2016-06-27T09:47:26.000,-,2003-01-03T11:40:20.000,-,-,-,...,429 multifamily dwelling,1,-,-,NaN,NaN,NaN,NaN,NaN,NaN
freq,987,698,963,10,1,19,2,23,36,35,...,218,108,22,20,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.793182,8.836519,2.391851,94113.381250,-122.424762,37.770250
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.740296,6.354400,2.132943,10.204425,0.026985,0.026594
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.000000,0.000000,0.000000,94102.000000,-122.513984,37.616901
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.000000,4.000000,1.000000,94105.000000,-122.435977,37.759051
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.000000,9.000000,2.000000,94110.000000,-122.419111,37.778016
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.000000,11.000000,3.000000,94121.000000,-122.407486,37.786679
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11.000000,50.000000,38.000000,94158.000000,-122.337061,37.866731

In [60]:
# yay! it worked! we are getting closer to clean data but a long way from it.
# one important thing we should do is look at the close_dttm since that is what we used to order the data
# but it appears our dates are not viewed as dates
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1988 entries, 0 to 987
Data columns (total 63 columns):
action_taken_other                              996 non-null object
action_taken_primary                            1988 non-null object
action_taken_secondary                          1095 non-null object
address                                         1985 non-null object
alarm_dttm                                      1988 non-null object
area_of_fire_origin                             108 non-null object
arrival_dttm                                    1988 non-null object
automatic_extinguishing_system_present          50 non-null object
automatic_extinguishing_sytem_failure_reason    36 non-null object
automatic_extinguishing_sytem_perfomance        41 non-null object
automatic_extinguishing_sytem_type              41 non-null object
battalion                                       1988 non-null object
box                                             1020 non-null object
call_number                                     1988 non-null int64
city                                            1975 non-null object
civilian_fatalities                             1988 non-null int64
civilian_injuries                               1988 non-null int64
close_dttm                                      1988 non-null object
detector_alerted_occupants                      1032 non-null object
detector_effectiveness                          37 non-null object
detector_failure_reason                         36 non-null object
detector_operation                              40 non-null object
detector_type                                   40 non-null object
detectors_present                               50 non-null object
ems_personnel                                   1988 non-null int64
ems_units                                       1988 non-null int64
estimated_contents_loss                         1018 non-null float64
estimated_property_loss                         1026 non-null float64
exposure_number                                 1988 non-null int64
fire_fatalities                                 1988 non-null int64
fire_injuries                                   1988 non-null int64
fire_spread                                     36 non-null object
first_unit_on_scene                             867 non-null object
floor_of_fire_origin                            30 non-null float64
heat_source                                     108 non-null object
human_factors_associated_with_ignition          108 non-null object
ignition_cause                                  108 non-null object
ignition_factor_primary                         108 non-null object
ignition_factor_secondary                       60 non-null object
incident_date                                   1988 non-null object
incident_number                                 1988 non-null int64
item_first_ignited                              108 non-null object
mutual_aid                                      1988 non-null object
neighborhood_district                           1760 non-null object
no_flame_spead                                  1013 non-null object
number_of_floors_with_extreme_damage            16 non-null float64
number_of_floors_with_heavy_damage              16 non-null float64
number_of_floors_with_minimum_damage            16 non-null float64
number_of_floors_with_significant_damage        16 non-null float64
number_of_sprinkler_heads_operating             17 non-null float64
other_personnel                                 1988 non-null int64
other_units                                     1988 non-null int64
primary_situation                               1988 non-null object
property_use                                    1985 non-null object
station_area                                    1988 non-null object
structure_status                                50 non-null object
structure_type                                  53 non-null object
supervisor_district                             1760 non-null float64
suppression_personnel                           1988 non-null int64
suppression_units                               1988 non-null int64
zipcode                                         1760 non-null float64
long                                            1774 non-null float64
lat                                             1774 non-null float64
dtypes: float64(12), int64(13), object(38)
memory usage: 994.0+ KB

In [66]:
# fortunately there was a nice use of the dttm to identify what should be datetime objects
# let's use that to filter and then convert
for col in df.columns:
    if 'dttm' in col:
        print(col)

alarm_dttm
arrival_dttm
close_dttm

In [71]:
# so there are three.. hmm I thought there were more? Let's start with converting these and then go from there
df['alarm_dttm'] = pd.to_datetime?

In [72]:
df['alarm_dttm'] = pd.to_datetime(df['alarm_dttm'])

In [75]:
df['arrival_dttm'] = pd.to_datetime(df['arrival_dttm'])
df['close_dttm'] = pd.to_datetime(df['close_dttm'])

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1988 entries, 0 to 987
Data columns (total 63 columns):
action_taken_other                              996 non-null object
action_taken_primary                            1988 non-null object
action_taken_secondary                          1095 non-null object
address                                         1985 non-null object
alarm_dttm                                      1988 non-null datetime64[ns]
area_of_fire_origin                             108 non-null object
arrival_dttm                                    1988 non-null datetime64[ns]
automatic_extinguishing_system_present          50 non-null object
automatic_extinguishing_sytem_failure_reason    36 non-null object
automatic_extinguishing_sytem_perfomance        41 non-null object
automatic_extinguishing_sytem_type              41 non-null object
battalion                                       1988 non-null object
box                                             1020 non-null object
call_number                                     1988 non-null int64
city                                            1975 non-null object
civilian_fatalities                             1988 non-null int64
civilian_injuries                               1988 non-null int64
close_dttm                                      1988 non-null datetime64[ns]
detector_alerted_occupants                      1032 non-null object
detector_effectiveness                          37 non-null object
detector_failure_reason                         36 non-null object
detector_operation                              40 non-null object
detector_type                                   40 non-null object
detectors_present                               50 non-null object
ems_personnel                                   1988 non-null int64
ems_units                                       1988 non-null int64
estimated_contents_loss                         1018 non-null float64
estimated_property_loss                         1026 non-null float64
exposure_number                                 1988 non-null int64
fire_fatalities                                 1988 non-null int64
fire_injuries                                   1988 non-null int64
fire_spread                                     36 non-null object
first_unit_on_scene                             867 non-null object
floor_of_fire_origin                            30 non-null float64
heat_source                                     108 non-null object
human_factors_associated_with_ignition          108 non-null object
ignition_cause                                  108 non-null object
ignition_factor_primary                         108 non-null object
ignition_factor_secondary                       60 non-null object
incident_date                                   1988 non-null object
incident_number                                 1988 non-null int64
item_first_ignited                              108 non-null object
mutual_aid                                      1988 non-null object
neighborhood_district                           1760 non-null object
no_flame_spead                                  1013 non-null object
number_of_floors_with_extreme_damage            16 non-null float64
number_of_floors_with_heavy_damage              16 non-null float64
number_of_floors_with_minimum_damage            16 non-null float64
number_of_floors_with_significant_damage        16 non-null float64
number_of_sprinkler_heads_operating             17 non-null float64
other_personnel                                 1988 non-null int64
other_units                                     1988 non-null int64
primary_situation                               1988 non-null object
property_use                                    1985 non-null object
station_area                                    1988 non-null object
structure_status                                50 non-null object
structure_type                                  53 non-null object
supervisor_district                             1760 non-null float64
suppression_personnel                           1988 non-null int64
suppression_units                               1988 non-null int64
zipcode                                         1760 non-null float64
long                                            1774 non-null float64
lat                                             1774 non-null float64
dtypes: datetime64[ns](3), float64(12), int64(13), object(35)
memory usage: 994.0+ KB

In [85]:
# now that we are starting to clean up our data, it's time that we discard some of these unnecessary columns
# let's do a quick values count on each to see if we have any that are just blank field
for col in df.columns:
    print("\n", col.title(), "\n")
    print(df[col].value_counts(dropna=False), "\n")
    print("*"*20)

 Action_Taken_Other

NaN                                               992
-                                                 987
34 transport person                                 2
63 restore fire alarm system                        2
86 investigate                                      2
62 restore sprinkler or fire protection system      1
20 - search & rescue, other                         1
84 refer to proper authority                        1
Name: action_taken_other, dtype: int64

********************

 Action_Taken_Primary

86 - investigate                                     698
86 investigate                                       556
11 - extinguish                                       79
11 extinguishment by fire service personnel           64
00 action taken, other                                51
63 restore fire alarm system                          50
70 assistance, other                                  33
63 - restore fire alarm system                        25
10 fire control or extinguishment, other              25
71 assist physically disabled                         24
31 provide first aid & check for injuries             23
32 provide basic life support (bls)                   21
73 provide manpower                                   19
64 shut down system                                   17
93 - cancelled enroute                                15
70 - assistance, other                                14
00 - action taken, other                              14
10 - fire, other                                      14
30 - emergency medical services, other                13
45 - remove hazard                                    13
71 - assist physically disabled                       13
73 - provide manpower                                 12
61 restore municipal services                         11
30 emergency medical services, other                  11
87 investigate fire out on arrival                    11
64 - shut down system                                 10
31 - provide first aid & check for injuries            9
23 extricate, disentangle                              9
33 provide advanced life support (als)                 9
22 - rescue, remove from harm                          7
                                                    ...
62 - restore fire protection system                    3
66 remove water                                        3
40 hazardous condition, other                          3
45 remove hazard                                       3
43 - hazmat spill control and confinement              3
12 - salvage & overhaul                                2
92 standby                                             2
65 secure property                                     2
62 restore sprinkler or fire protection system         2
61 - restore municipal services                        2
81 incident command                                    2
75 provide equipment                                   2
23 - extricate, disentangle                            2
60 - systems and services, other                       1
87 - investigate - fire out on arrival                 1
81 - incident command                                  1
80 - information/invest. & enforcement, other          1
75 - provide equipment                                 1
74 - provide apparatus                                 1
74 provide apparatus                                   1
44 - hazmat leak, control & containment                1
44 hazardous materials leak control & containment      1
21 search                                              1
34 transport person                                    1
16 control fire (wildland)                             1
47 decontaminate occupancy or area                     1
65 - secure property                                   1
92 - standby                                           1
12 salvage & overhaul                                  1
84 refer to proper authority                           1
Name: action_taken_primary, dtype: int64

********************

 Action_Taken_Secondary

-                                                        963
NaN                                                      893
63 restore fire alarm system                              45
86 investigate                                            29
86 - investigate                                          18
64 shut down system                                        6
82 notify other agencies.                                  4
12 salvage & overhaul                                      4
12 - salvage & overhaul                                    4
62 restore sprinkler or fire protection system             3
11 extinguishment by fire service personnel                3
30 emergency medical services, other                       2
60 systems and services, other                             2
42 hazmat detection, monitoring, sampling, & analysis      1
45 remove hazard                                           1
62 - restore fire protection system                        1
65 secure property                                         1
32 provide basic life support (bls)                        1
51 ventilate                                               1
85 enforce codes                                           1
34 transport person                                        1
34 - transport person                                      1
92 - standby                                               1
66 remove water                                            1
40 hazardous condition, other                              1
Name: action_taken_secondary, dtype: int64

********************

 Address

1 Sf Intl Airport                 10
Stockton St/north Point Street     6
Taylor St/eddy Street              5
3251 20th Av.                      5
99 Grove St.                       5
1 South Van Ness Av.               5
140 Jones Street                   4
3rd St. / Howard St.               4
Hyde St/pine Street                4
Grant Av/jackson Street            4
363 Noe Street                     4
Schwerin St. / Visitacion Av.      4
10th St. / Market St.              4
114 Sansome St.                    4
Ellis St. / Jones St.              4
2576 Harrison Street               4
22nd St. / Mission St.             3
Street                             3
23rd St. / Shotwell St.            3
2150 The Embarcadero Nor           3
280nb 6th St Of/brannan Street     3
7th St/howard Street               3
2051 3rd St.                       3
NaN                                3
Golden Gate Av. / Laguna St.       3
21st Av/noriega Street             3
900 North Point Street             3
19th Av/holloway Avenue            3
Eddy St. / Taylor St.              3
1 Drumm Street                     3
                                  ..
1483 45th Av.                      1
3377 Pacific Avenue                1
1238 Buchanan St.                  1
1201 Larkin Street                 1
23rd St. / Pennsylvania Av.        1
Taylor St/geary Street             1
986 Broadway Street                1
15th St/san Bruno Avenue           1
Polk St. / Sutter St.              1
45 Castro St.                      1
Golden Gate Av/gough Street        1
Leland Av/elliot Street            1
3rd St. / Williams Av.             1
939 Ellis Street                   1
33rd Av. / Noriega St.             1
3685 17th St 14 Street             1
111 Taylor Street                  1
50 Drumm St.                       1
Bright St. / Randolph St.          1
3rd St/innes Avenue                1
1130 Guerrero St 3                 1
Polk St/geary Street               1
330 Parnassus Avenue               1
856 Stockton Street                1
Buchanan St. / Waller St.          1
1657 Clement St 3                  1
2659 45th Av.                      1
2425 Geary Bl                      1
50 Chenery St.                     1
Mission St/fremont Street          1
Name: address, dtype: int64

********************

 Alarm_Dttm

2003-01-01 14:23:34    1
2003-01-02 05:55:40    1
2003-01-11 01:12:53    1
2016-07-04 01:31:18    1
2016-06-29 10:21:27    1
2003-01-07 19:02:53    1
2003-01-09 21:08:22    1
2003-01-06 17:24:36    1
2003-01-06 08:51:53    1
2003-01-06 21:53:18    1
2016-06-26 17:38:30    1
2016-07-02 08:01:36    1
2016-07-08 13:04:38    1
2003-01-06 00:28:07    1
2016-06-29 00:37:43    1
2016-06-24 21:41:06    1
2003-01-09 15:26:31    1
2003-01-03 14:55:43    1
2016-06-30 05:58:15    1
2003-01-05 23:08:01    1
2016-06-30 23:04:49    1
2003-01-04 21:36:48    1
2003-01-03 17:01:13    1
2016-07-07 10:15:16    1
2003-01-01 01:35:26    1
2016-07-01 06:26:43    1
2016-06-30 04:47:46    1
2003-01-05 11:14:33    1
2016-06-26 14:04:07    1
2016-07-08 15:37:08    1
                      ..
2016-06-26 19:32:39    1
2003-01-08 00:22:40    1
2016-07-09 18:45:09    1
2016-07-07 21:52:33    1
2016-07-04 09:34:54    1
2003-01-03 11:55:38    1
2016-07-02 14:49:45    1
2016-06-24 22:21:32    1
2016-06-29 17:12:02    1
2003-01-07 13:57:25    1
2016-07-01 19:17:37    1
2016-06-26 22:01:53    1
2016-07-04 17:33:23    1
2016-07-04 21:50:32    1
2016-07-07 14:35:39    1
2003-01-05 11:37:11    1
2016-07-08 06:28:58    1
2016-07-09 13:01:53    1
2003-01-01 19:40:15    1
2003-01-03 10:22:59    1
2003-01-01 19:40:39    1
2003-01-09 13:22:47    1
2003-01-10 07:03:16    1
2003-01-06 07:12:39    1
2003-01-06 13:20:14    1
2003-01-03 21:03:24    1
2003-01-04 14:55:36    1
2016-07-01 18:10:58    1
2016-07-08 13:53:28    1
2016-07-07 21:33:20    1
Name: alarm_dttm, dtype: int64

********************

 Area_Of_Fire_Origin

NaN                                                      1880
-                                                          19
24 cooking area, kitchen                                    6
83 - engine area, running gear, wheel area                  6
80 - vehicle area, other                                    6
92 - highway, parking lot, street: on or n                  5
90 outside area, other                                      5
90 - outside area, other                                    5
24 - cooking area, kitchen                                  4
94 open area, outside; included are farmland, field         4
76 wall surface: exterior                                   4
uu undetermined                                             4
00 other area of fire origin                                4
14 - common room, den, family/living room                   3
70 structural area, other                                   3
21 - bedroom-<5 persons; inc. jail or pris                  3
25 - bathroom, checkroom, locker room                       2
98 vacant structural area                                   2
83 engine area, running gear, wheel area                    2
26 laundry area, wash house (laundry)                       2
00 - other                                                  2
93 courtyard, patio, terrace                                2
92 highway, parking lot, street: on or near                 1
22 - bedroom-5+persons; inc. barrack/dorms                  1
25 bathroom, checkroom, lavatory, locker room               1
01 - corridor, mall                                         1
50 service facilities, other                                1
84 - fuel tank, fuel line                                   1
26 - laundry area, wash house (laundry)                     1
72 exterior balcony, unenclosed porch                       1
01 hallway corridor, mall                                   1
uu - undetermined                                           1
80 vehicle area, other                                      1
13 assembly area - less than 100 persons                    1
02 exterior stairway, ramp, or fire escape                  1
37 projection room, spotlight area                          1
21 bedroom - < 5 persons; included are jail or prison       1
Name: area_of_fire_origin, dtype: int64

********************

 Arrival_Dttm

2003-01-04 16:46:58    2
2003-01-03 11:40:20    2
2016-07-10 11:51:05    1
2003-01-06 08:55:05    1
2016-07-05 00:45:37    1
2016-07-09 06:09:44    1
2016-07-04 23:32:44    1
2016-07-03 17:00:35    1
2016-07-02 12:55:24    1
2016-06-24 18:00:43    1
2016-07-03 14:11:01    1
2003-01-07 11:46:27    1
2003-01-07 05:40:02    1
2003-01-06 12:34:08    1
2016-07-04 22:22:03    1
2016-07-09 01:19:32    1
2003-01-03 19:50:27    1
2003-01-09 12:14:25    1
2016-07-05 09:23:00    1
2003-01-01 23:14:18    1
2016-07-04 22:23:31    1
2003-01-07 14:15:37    1
2003-01-02 12:27:11    1
2003-01-01 14:06:39    1
2016-07-03 12:26:26    1
2016-07-04 12:38:35    1
2003-01-02 06:16:38    1
2003-01-02 20:40:00    1
2016-06-29 04:22:38    1
2016-07-02 08:07:44    1
                      ..
2003-01-02 04:17:12    1
2003-01-04 18:43:21    1
2003-01-01 02:38:17    1
2016-07-03 15:23:49    1
2003-01-01 15:37:38    1
2016-07-04 21:24:15    1
2003-01-05 23:56:25    1
2016-07-06 17:56:20    1
2003-01-02 18:59:00    1
2016-06-27 01:49:26    1
2003-01-10 04:08:03    1
2016-06-29 00:15:48    1
2016-07-09 13:09:13    1
2003-01-03 20:39:43    1
2003-01-03 14:33:24    1
2003-01-03 15:46:51    1
2016-07-01 08:28:42    1
2016-06-28 08:24:13    1
2016-07-02 16:15:16    1
2003-01-06 20:46:12    1
2003-01-02 15:57:19    1
2016-06-28 08:25:25    1
2003-01-01 14:56:43    1
2016-06-27 20:49:22    1
2016-07-04 12:16:00    1
2016-06-29 07:39:30    1
2016-07-04 22:30:27    1
2003-01-10 21:19:05    1
2003-01-05 03:16:10    1
2016-07-03 06:22:57    1
Name: arrival_dttm, dtype: int64

********************

 Automatic_Extinguishing_System_Present

NaN                1938
-                    23
n -none present      10
n none present        6
1 present             5
u undetermined        3
1 -present            3
Name: automatic_extinguishing_system_present, dtype: int64

********************

 Automatic_Extinguishing_Sytem_Failure_Reason

NaN    1952
-        36
Name: automatic_extinguishing_sytem_failure_reason, dtype: int64

********************

 Automatic_Extinguishing_Sytem_Perfomance

NaN                                     1947
-                                         35
3 Fire too small to activate system        4
1 System operated and was effective        1
3 -Fire too small to activate system       1
Name: automatic_extinguishing_sytem_perfomance, dtype: int64

********************

 Automatic_Extinguishing_Sytem_Type

NaN                            1947
-                                35
1 wet-pipe sprinkler system       5
1 -wet-pipe sprinkler             1
Name: automatic_extinguishing_sytem_type, dtype: int64

********************

 Battalion

B02    342
B03    299
B01    227
B04    210
B10    175
B05    167
B08    152
B09    140
B06    140
B07    113
B99     23
Name: battalion, dtype: int64

********************

 Box

NaN       968
1456       11
1453       11
6913       10
1545        9
2314        9
5236        6
1262        6
2931        6
0545        6
5252        6
6374        5
8422        5
1562        5
1546        5
1455        5
2342        5
2145        5
2211        5
1644        4
1462        4
1623        4
3325        4
1461        4
6244        4
1312        4
5233        4
2153        4
3264        4
1553        4
         ...
1335        1
4262        1
6576        1
7453        1
2324        1
5624        1
6642        1
6474        1
2154        1
2152        1
6247        1
3554        1
2626.0      1
1153        1
8332        1
3552        1
5533.0      1
3133        1
3645        1
3642        1
2522        1
5124        1
2551        1
3322        1
2556        1
4133        1
3246        1
4136        1
5213        1
3413        1
Name: box, dtype: int64

********************

 Call_Number

161862754    1
30080325     1
161922349    1
161901873    1
30080307     1
161842484    1
30010528     1
30010388     1
161822008    1
161811771    1
30080317     1
30070078     1
161811505    1
30080321     1
161871170    1
30070441     1
30070080     1
30080331     1
161894019    1
161840461    1
161772504    1
30010521     1
30080337     1
30070098     1
161842516    1
161811799    1
161842520    1
161793370    1
30070108     1
30080351     1
            ..
161911473    1
30100196     1
161764019    1
161860276    1
30030339     1
30010402     1
161830813    1
30020281     1
30100154     1
30020289     1
161850051    1
161802607    1
161922820    1
161860294    1
161821383    1
30010056     1
161782474    1
30100172     1
30030243     1
161911505    1
161852118    1
161772247    1
30020313     1
30030367     1
30070389     1
30030165     1
161903458    1
161770208    1
30020321     1
161792002    1
Name: call_number, dtype: int64

********************

 City

SF               983
San Francisco    968
NaN               13
Presidio          10
Treasure Isla      6
Yerba Buena        2
TI                 2
Fort Mason         1
HP                 1
SFO                1
FM                 1
Name: city, dtype: int64

********************

 Civilian_Fatalities

0    1987
1       1
Name: civilian_fatalities, dtype: int64

********************

 Civilian_Injuries

0    1987
1       1
Name: civilian_injuries, dtype: int64

********************

 Close_Dttm

2016-06-26 11:46:09    2
2016-06-29 20:22:25    2
2016-07-04 17:46:04    2
2003-01-09 11:45:19    1
2016-06-30 15:50:55    1
2016-07-02 12:59:40    1
2016-07-02 17:59:17    1
2003-01-02 20:39:52    1
2003-01-06 22:20:44    1
2016-07-01 16:14:19    1
2003-01-03 09:17:39    1
2016-07-04 10:13:17    1
2016-07-07 09:05:15    1
2016-06-28 11:17:56    1
2016-06-27 04:46:03    1
2003-01-05 23:13:45    1
2003-01-06 18:47:13    1
2003-01-03 08:51:42    1
2003-01-04 20:21:51    1
2003-01-09 07:52:31    1
2003-01-11 02:25:32    1
2016-06-28 20:30:24    1
2003-01-01 03:47:23    1
2003-01-05 13:29:21    1
2016-07-03 04:58:13    1
2016-07-04 21:17:18    1
2003-01-03 17:31:25    1
2016-07-10 19:19:14    1
2003-01-07 19:16:05    1
2003-01-03 09:15:26    1
                      ..
2003-01-01 04:00:58    1
2003-01-02 19:03:00    1
2016-06-27 22:29:57    1
2016-06-29 13:35:57    1
2016-07-06 02:18:11    1
2016-07-04 01:07:01    1
2016-07-03 01:54:36    1
2016-07-03 01:55:24    1
2003-01-06 21:53:23    1
2003-01-03 14:33:24    1
2003-01-05 21:28:07    1
2003-01-01 20:58:10    1
2003-01-05 17:49:10    1
2016-07-01 19:25:29    1
2016-06-30 14:43:00    1
2003-01-05 23:56:25    1
2016-06-24 21:17:13    1
2016-06-27 01:50:22    1
2016-07-01 17:01:19    1
2016-07-09 18:03:09    1
2003-01-05 10:32:40    1
2003-01-04 08:16:34    1
2003-01-01 14:55:31    1
2016-06-25 02:13:09    1
2016-06-26 20:58:58    1
2003-01-03 10:55:19    1
2003-01-02 17:49:13    1
2016-07-09 16:51:42    1
2003-01-03 02:08:46    1
2016-07-03 10:02:48    1
Name: close_dttm, dtype: int64

********************

 Detector_Alerted_Occupants

NaN                                     956
-                                       890
u - unknown                              69
1 detector alerted occupants             29
1 - detector alerted occupants           23
2 detector did not alert occupants        9
2 - detector did not alert occupants      6
u unknown                                 6
Name: detector_alerted_occupants, dtype: int64

********************

 Detector_Effectiveness

NaN                                                  1951
-                                                      32
1 -alerted occupants, occupants responded               4
1 detector alerted occupants, occupants responded       1
Name: detector_effectiveness, dtype: int64

********************

 Detector_Failure_Reason

NaN    1952
-        36
Name: detector_failure_reason, dtype: int64

********************

 Detector_Operation

NaN                                      1948
-                                          31
2 -detector operated                        4
1 fire too small to activate detector       3
u -undetermined                             1
2 detector operated                         1

In [78]:
df.tail()

,action_taken_other,action_taken_primary,action_taken_secondary,address,alarm_dttm,area_of_fire_origin,arrival_dttm,automatic_extinguishing_system_present,automatic_extinguishing_sytem_failure_reason,automatic_extinguishing_sytem_perfomance,...,property_use,station_area,structure_status,structure_type,supervisor_district,suppression_personnel,suppression_units,zipcode,long,lat
983,-,86 - investigate,-,291 10th St.,2003-01-01 00:19:50,-,2003-01-01 00:26:23,-,-,-,...,322 - alcohol/sub. abuse recovery center,36,-,-,6,11,3,94103,-122.412942,37.773001
984,-,32 - provide basic life support (bls),-,Market St. / Spear St.,2003-01-01 00:07:32,-,2003-01-01 00:07:46,-,-,-,...,419 - 1 or 2 family dwelling,13,-,-,6,0,0,94105,-122.395630,37.793790
985,-,86 - investigate,-,33rd Av. / Noriega St.,2003-01-01 00:18:19,-,2003-01-01 00:21:15,-,-,-,...,"962 - residential street, road or residential dr",18,-,-,NaN,4,1,NaN,NaN,NaN
986,-,87 - investigate - fire out on arrival,-,3rd St. / Harrison St.,2003-01-01 00:08:13,-,2003-01-01 00:11:19,-,-,-,...,"960 - street, other",08,-,-,6,4,1,94107,-122.397389,37.782554
987,-,86 - investigate,-,Broadway St. / Taylor St.,2003-01-01 00:02:13,-,2003-01-01 00:06:13,-,-,-,...,"962 - residential street, road or residential dr",02,-,-,3,4,1,94133,-122.413562,37.797038

In [86]:
# OK, so here's a list of columns that for the time being we'll just remove so that we can get a better sense of the 
# data and hopefully, more easily, grab the entire body of records, and not just these few rows

cols_to_drop = ["automatic_extinguishing_sytem_failure_reason",
                "automatic_extinguishing_sytem_type",
                "battalion",
                "box",
                "call_number",
                "detector_effectiveness",
                "detector_failure_reason",
                "ems_personnel",
                "ems_units",
                "exposure_number",
                "first_unit_on_scene",
                "ignition_factor_secondary",
                "mutual_aid",
                "no_flame_spead",
                "other_personnel",
                "other_units",
                "station_area",
                "supervisor_district"]
df = df.drop(cols_to_drop, axis=1)

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1988 entries, 0 to 987
Data columns (total 45 columns):
action_taken_other                          996 non-null object
action_taken_primary                        1988 non-null object
action_taken_secondary                      1095 non-null object
address                                     1985 non-null object
alarm_dttm                                  1988 non-null datetime64[ns]
area_of_fire_origin                         108 non-null object
arrival_dttm                                1988 non-null datetime64[ns]
automatic_extinguishing_system_present      50 non-null object
automatic_extinguishing_sytem_perfomance    41 non-null object
city                                        1975 non-null object
civilian_fatalities                         1988 non-null int64
civilian_injuries                           1988 non-null int64
close_dttm                                  1988 non-null datetime64[ns]
detector_alerted_occupants                  1032 non-null object
detector_operation                          40 non-null object
detector_type                               40 non-null object
detectors_present                           50 non-null object
estimated_contents_loss                     1018 non-null float64
estimated_property_loss                     1026 non-null float64
fire_fatalities                             1988 non-null int64
fire_injuries                               1988 non-null int64
fire_spread                                 36 non-null object
floor_of_fire_origin                        30 non-null float64
heat_source                                 108 non-null object
human_factors_associated_with_ignition      108 non-null object
ignition_cause                              108 non-null object
ignition_factor_primary                     108 non-null object
incident_date                               1988 non-null object
incident_number                             1988 non-null int64
item_first_ignited                          108 non-null object
neighborhood_district                       1760 non-null object
number_of_floors_with_extreme_damage        16 non-null float64
number_of_floors_with_heavy_damage          16 non-null float64
number_of_floors_with_minimum_damage        16 non-null float64
number_of_floors_with_significant_damage    16 non-null float64
number_of_sprinkler_heads_operating         17 non-null float64
primary_situation                           1988 non-null object
property_use                                1985 non-null object
structure_status                            50 non-null object
structure_type                              53 non-null object
suppression_personnel                       1988 non-null int64
suppression_units                           1988 non-null int64
zipcode                                     1760 non-null float64
long                                        1774 non-null float64
lat                                         1774 non-null float64
dtypes: datetime64[ns](3), float64(11), int64(7), object(24)
memory usage: 714.4+ KB

In [88]:
df.head()

,action_taken_other,action_taken_primary,action_taken_secondary,address,alarm_dttm,area_of_fire_origin,arrival_dttm,automatic_extinguishing_system_present,automatic_extinguishing_sytem_perfomance,city,...,number_of_sprinkler_heads_operating,primary_situation,property_use,structure_status,structure_type,suppression_personnel,suppression_units,zipcode,long,lat
0,NaN,86 investigate,NaN,105 Aptos Avenue,2016-07-10 21:50:58,NaN,2016-07-10 21:54:42,NaN,NaN,San Francisco,...,NaN,733 smoke detector activation due to malfunction,215 high school/junior high school/middle school,NaN,NaN,11,3,94127,-122.466270,37.728947
1,NaN,86 investigate,NaN,8th St/bryant Street,2016-07-10 19:49:15,NaN,2016-07-10 19:52:06,NaN,NaN,San Francisco,...,NaN,"711 municipal alarm system, malicious false alarm",nnn none,NaN,NaN,9,2,94103,-122.406971,37.772527
2,NaN,61 restore municipal services,NaN,2nd St/brannan Street,2016-07-10 19:44:29,NaN,2016-07-10 19:47:35,NaN,NaN,San Francisco,...,NaN,"711 municipal alarm system, malicious false alarm","960 street, other",NaN,NaN,9,2,94107,-122.392082,37.781846
3,NaN,86 investigate,NaN,8400 Oceanview Trail,2016-07-10 19:24:41,NaN,2016-07-10 19:28:56,NaN,NaN,San Francisco,...,NaN,733 smoke detector activation due to malfunction,429 multifamily dwelling,NaN,NaN,11,3,94132,-122.467447,37.709976
4,NaN,86 investigate,NaN,636 Velasco Av A,2016-07-10 18:56:31,NaN,2016-07-10 19:00:13,NaN,NaN,San Francisco,...,NaN,531 smoke or odor removal,419 1 or 2 family dwelling,NaN,NaN,29,8,94134,-122.417959,37.709630

In [91]:
df[df.zipcode.isnull()].iloc[-1]

action_taken_other                                                                         -
action_taken_primary                                                        86 - investigate
action_taken_secondary                                                                     -
address                                                               33rd Av. / Noriega St.
alarm_dttm                                                               2003-01-01 00:18:19
area_of_fire_origin                                                                        -
arrival_dttm                                                             2003-01-01 00:21:15
automatic_extinguishing_system_present                                                     -
automatic_extinguishing_sytem_perfomance                                                   -
city                                                                                      SF
civilian_fatalities                                                                        0
civilian_injuries                                                                          0
close_dttm                                                               2003-01-01 00:21:21
detector_alerted_occupants                                                                 -
detector_operation                                                                         -
detector_type                                                                              -
detectors_present                                                                          -
estimated_contents_loss                                                                    0
estimated_property_loss                                                                    0
fire_fatalities                                                                            0
fire_injuries                                                                              0
fire_spread                                                                                -
floor_of_fire_origin                                                                     NaN
heat_source                                                                                -
human_factors_associated_with_ignition                                                     -
ignition_cause                                                                             -
ignition_factor_primary                                                                    -
incident_date                                                        2003-01-01T00:00:00.000
incident_number                                                                      3000014
item_first_ignited                                                                         -
neighborhood_district                                                                    NaN
number_of_floors_with_extreme_damage                                                     NaN
number_of_floors_with_heavy_damage                                                       NaN
number_of_floors_with_minimum_damage                                                     NaN
number_of_floors_with_significant_damage                                                 NaN
number_of_sprinkler_heads_operating                                                      NaN
primary_situation                             711 - municipal alarm system, street box false
property_use                                962 - residential street, road or residential dr
structure_status                                                                           -
structure_type                                                                             -
suppression_personnel                                                                      4
suppression_units                                                                          1
zipcode                                                                                  NaN
long                                                                                     NaN
lat                                                                                      NaN
Name: 985, dtype: object

In [92]:
# after googling around I found this API for doing a reverse geo lookup, using the lat long to get the nearest zipcode
# we will do that now, but try to be polite about it.
# http://api.geonames.org/findNearbyPostalCodesJSON?lat=37.728947&lng=-122.466270&username=demo

df[df.zipcode.isnull()].groupby(['lat','long'])['address'].value_counts(dropna=False)

lat        long         address
37.616901  -122.384160  1 Sf Intl Airport        10
                        1                         1
37.812941  -122.477899  1019                      1
37.820633  -122.337061  800 80 Eb Bay Br Z Yb     1
37.866731  -122.432600  1 Angel Island Dr, Ai     1
dtype: int64

In [104]:
grouped = df[df.zipcode.isnull()].groupby(['lat','long'])

In [109]:
for name, group in grouped:
    print("")
    print(name)

    print(group['address'].value_counts(dropna=False))

(37.616900999999999, -122.38415999999999)
1 Sf Intl Airport    10
1                     1
Name: address, dtype: int64

(37.812941000000002, -122.47789899999999)
1019    1
Name: address, dtype: int64

(37.820633000000001, -122.33706100000001)
800 80 Eb Bay Br Z Yb    1
Name: address, dtype: int64

(37.866731000000001, -122.43259999999999)
1 Angel Island Dr, Ai    1
Name: address, dtype: int64

In [112]:
import os
import dotenv

project_dir = os.path.join(os.path.dirname(__file__), os.pardir)
dotenv_path = os.path.join(project_dir, '.env')
dotenv.load_dotenv(dotenv_path)

ImportError: No module named dotenv

In [111]:
geo_url = "http://api.geonames.org/findNearbyPostalCodesJSON?lat={}&lng={}&username={}"



temp_df = pd.read_json(geo_url.format('37.616900999999999', '-122.38415999999999'))
temp_df.head()

                                                    status
message  the daily limit of 30000 credits for demo has ...
value                                                   18